.liMO {
	float: left;
	width: 370px;
	border: 1px solid;
	text-align: center;
	position: relative;
	margin: 5px 15px;
	overflow: hidden;
}
.removeItem {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid;
	width: 70px;
	height: 30px;
	text-align: center;
	cursor: pointer;
	background-color: red;
	padding: 4px 0;
	color: #fff;
}
.liMO:hover .removeItem {
	display: inline;
}
.titleLiMO {
	padding: 10px;
	background-color: #eee;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.imgLiMO {
	float: left;
}
.priceLiMO {
	float: left;
	width: 250px;
}
.dateLimitLiMO {
	float: left;
	width: 250px;
}
.placeLiMO {
	float: left;
	width: 250px;
}

.megaOfertaData {
	
	overflow: scroll;
}
.btnClone {
	padding: 5px 10px;
	float: none;
	margin: auto;
	height: 30px;
}
.megaDiv {
	position: relative;
}
.megaSelects {

}
.megaInputs {
	margin: 10px 0;
}