.contentMiddle {
	width: auto;
}
.expTitle {
	border-bottom: 1px solid;
	padding: 5px 0;
	margin-bottom: 15px;
}
.expTitle b {
	font-size: 30px;
}
.expTitle span {
	font-size: 20px;
	color:#7b7c7c;
	margin-left: 25px;
}
.secExplore {
	width: 395px;
	margin: 50px 50px 0;
	float: left;
	border: 1px solid;
	text-align: center;
}
.secTitle {
	background-color: #e6e6e6;
	color: #000;
	text-align: center;
	padding: 10px;
	border-bottom: 1px solid;
}
.secSubTitle {
	text-align: center;
	font-size: 16px;
	color: #7b7c7c;
	padding: 10px;
}
.expHomeForm {
	text-align: center;
	margin-top: 15px;
}
.expInputSelect {
	width: 210px;
	height: 20px;
	margin: 10px;
	background-color: #e6e6e6;
	border: 1px #c0c0c0 solid;
	font: 12px Arial, sans-serif;
	font-weight: bold;
	color: #000;
}
.btnExpSearch {
	text-align: center;
	background-color: #e6e6e6;
	overflow: hidden;
	width: 100%;
	margin-top: 10px;
	border-top: 1px #bcbec0 solid;
}
.btnPadding {
	padding: 2px;
	background-color: #fff;
	border-radius: 5px;
	width: 350px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}
.btnExpSearch .btnButton{
	width: 100%;
	height: 30px;
	font: 18px Arial, sans-serif;
	color: #fff;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	border-radius: 5px;
	display: block;
	background: #64a800; /* Old browsers */
	background: -moz-linear-gradient(top,  #ebf4de 0%, #64a800 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf4de), color-stop(50%,#64a800)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ebf4de 0%,#64a800 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ebf4de 0%,#64a800 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ebf4de 0%,#64a800 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #ebf4de 0%,#64a800 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf4de', endColorstr='#64a800',GradientType=0 ); /* IE6-9 */

}
.btnExpSearch .btnButton:hover {
	color: #000;
	background: #ffcc04; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9f7de 0%, #ffcc04 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f7de), color-stop(100%,#ffcc04)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f7de 0%,#ffcc04 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f7de 0%,#ffcc04 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f7de 0%,#ffcc04 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9f7de 0%,#ffcc04 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f7de', endColorstr='#ffcc04',GradientType=0 ); /* IE6-9 */
}
.exploradorTitulo {
	padding-top: 10px;
	padding-left: 30px;
	padding-bottom: 4px;
	font: 20px Arial, sans-serif;
	color: #000;
	font-weight: bold;
	text-align: left;
	float: left;
	position: relative;
	overflow: hidden;
}
.exploradorBgInterno {
	height: auto;
	margin-left: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: #fff;
	float: left;
	position: relative;
	/*border: 1px #bcbec0 solid; */
}
.formExplorer {
	background-color: #e6e6e6;
	overflow: hidden;
}
.exploradorGridFiltrosColunaB, .exploradorGridFiltrosColunaA {
	float: left;
}
.exploradorGridFiltrosColunaA {
	width: 520px;
	border: 1px solid #ccc;
}
.exploradorGridFiltrosColunaB {
	width: 455px;
}
.thumbExpForm {
	width: 100px;
	height: 100px;
	border:1px solid red;
	border-radius: 10px;
}
.thumbExpForm:hover{
	border-color: red;
}
.exploradorGridFiltrosGridImg {
	overflow: hidden;
	padding-left: 10px;
}
.exploradorGridFiltrosImg {
	float: left;
	margin: 0 10px 10px 0;
}
.inputExpForm {
	display: none;
}
.exploradorGridFiltrosColunaBTitulo {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	color: #000;
	font-weight: bold;
	text-align: left;
}
.exploradorGridFiltrosColunaATitulo {
	padding: 10px;
	font-size: 20px;
	color: #000;
	font-weight: bold;
	text-align: left;
	border-top: 1px solid #ccc;
}
.exploradorGridFiltrosChecks {
	height: 250px;
	overflow: scroll;
	padding: 0 0 0 10px;
}
.exploradorGridFiltrosChecks label {
	width: 235px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.exploradorGridFiltrosChecks input[type="checkbox"], .exploradorGridFiltrosChecks input[type="radio"] {
	vertical-align: top;
}
.exploradorGridFiltrosChecks li {
	float: left;
	margin: 0;
}
.exploradorGridFiltrosInputTextLine {
	overflow: hidden;
	margin-bottom: 10px;
}
.exploradorGridFiltrosInputTextLine label {
	width: 30px;
	float: left;
}
.exploradorGridFiltrosInputTextLine input {
	float: left;
	width: 250px;
}
.exploradorGridFiltrosInputText {
	padding: 10px;
}

.bannerExplorer {
	width: 100%;
	height: 100px;
	background-color: #123;
}
/* lista com os carros para comparacao */
.sContent {
	padding: 5px;
	background-color: #eee;
	overflow: hidden;
}
.ulCarList {
	overflow: scroll;
	height: 400px;
	float: left;
	background-color: #fff;
}
.liCarItem {
	width: 170px;
	height: 100px;
	border: 1px solid;
	overflow: hidden;
	float: left;
	margin: 10px;
}
.liCarItem:hover {
	background-color: #ddd;
}
.liCarItem.selected {
	background-color: #999;
}
.btnMore {
	width: 100%;
	height: 40px;
	padding: 0;
	margin: 0;
}
.btnSearchMore {
	width: 100px;
	margin: auto;
	padding: 10px 0;
}






























