ul, li, h1,h2,h3,h4,h5,p {
	list-style: none;
	margin: 0;
	padding: 0;
}
a img {
	border: 2px solid transparent;
}
a img:hover{
	border: 2px solid #cb2026;
}
#uolBar {
	height: 30px;
	background-color: #0ac;
}
header {
	width: 990px;
	margin: auto;
	overflow: hidden;
}
.menu {
	margin-bottom: 10px ;
	z-index: 98;
	background: url("../imgs/car-menu.jpg") no-repeat;
	text-indent: -999em;
}
.menu.affix, .menu.affix-top {
	top: 0;
	background-color: #fff;
	height: 50px;
	width: 990px;
	z-index: 99;
}
.menu.affix-top .active > a {
	background-color: transparent;
}
.menu.affix .active > a {
	width: 80px;
}
.logoBanner {
	overflow: hidden;
	margin-bottom: 10px;
}
.logoBanner .logo {
	float: left;
	width: 100px;
}
.logoBanner .bannerHome {
	float: left;
	overflow: hidden;
	position: relative;
}
.bannerHome .publicidade {
	color: #ccc;
	transform: rotate(-90deg);
	-ms-transform:rotate(-90deg); /* IE 9 */
	-moz-transform: rotate(-90.0deg);  /* FF3.5+ */
	-o-transform: rotate(-90.0deg);  /* Opera 10.5 */
	-webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
	left: -30px;
	top: 40px;
	position: absolute;
}
.bannerHomeImg {
	background-color: #ccc;
	margin-left: 20px;
}
.socialBar {
	height: 30px;
	border:1px dotted;
	margin-bottom: 10px;
	background-image: url("../imgs/car-social.jpg");
}
.content {
	margin: auto;
	width: 990px;
	overflow: hidden;
	
}
.columnLeft {
	display: none;
}
.columnMiddle {
	float: left;
	
}
.columnRight {
	float: left;
	position: relative;
}
.bannerBigHome {
	float: left;
	width: 844px;
	height: 206px;
	margin-bottom: 10px;
}
.contentMiddle {
	float: left;
	width: 600px;
}
.carrosselHome {
	float: left;
	width: 990px;
	height: 280px;
	border:1px solid #ccc;
	margin-bottom: 10px;
}
.carrosselHome ol {
	margin-left: 0;
	top: 0;
	width: 150px;
	right: 0;
	left: auto;
}
.carrosselHome li, .carrosselHome li.active {
	text-indent: 0;
	width: 145px;
	height: 90px;
	margin: 0;
	border: none;
}
.carrosselVideos {
	float: left;
	width: 260px;
}
.chamadaH1 {
	float: left;
	width: 260px;
	padding: 10px 0;
	margin: 0 10px 0 0;
	border-top: 1px dotted #ccc;
	overflow: hidden;
}
.chamadaH1 h3 {
	color: #194c7f;
	padding: 5px 0 0;
	margin: 0;
	font-size: 18px;
	font-weight: bold;
}
.chamadaH1 h4 {
	color: #cb2026;
	padding: 5px 0 0;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
}
.chamadaH2 {
	float: left;
	width: 300px;
	padding: 10px 0 0;
	border-top: 1px dotted #ccc;
	overflow: hidden;
}
.chamadaH2 img{
	float: left;
	margin-right: 5px;
}
.chamadaH2 h3 {
	float: left;
	color: #194c7f;
	font-size: 14px;
	font-weight: bold;
	width: 130px;
}
.chamadaH2 h4 {
	float: left;
	color: #cb2026;
	font-size: 16px;
	font-weight: bold;
	width: 130px;
}
.chamadaM1 {
	float: left;
	margin:0 10px 10px 0;
	padding-top: 10px;
	border-top: 1px solid #ccc;
	width: 265px;
}
.chamadaM1 h3 {
	font-size: 18px;
	font-weight: bold;
	color: #194c7f;
	margin-bottom: 5px;
}
.chamadaM1 img {
	margin-bottom: 10px;
	width: 264px;
	height: 160px;
}
.chamadaM1 h4 {
	color: #cb2026;
	font-size: 18px;
	font-weight: bold;
}
.chamadaM2 {
	float: left;
	margin: 0 10px 10px 0;
	width: 265px;
	padding-top: 10px;
	border-top: 1px solid #ccc;
}
.chamadaM2 h3 {
	font-size: 16px;
	font-weight: bold;
	color: #194c7f;
	margin-bottom: 5px;
}
.chamadaM2 img {
	float: left;
	margin-right: 5px;
	width: 144px;
	height: 100px;
}
.chamadaM2 h4 {
	float: left;
	color: #cb2026;
	font-size: 14px;
	font-weight: bold;
}
.ultNot {
	float: left;
	width: 400px;
	border-top: 1px dotted #ccc;
	padding-top: 10px;
}
.ultnotTitulo {
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
.ultnotTituloSpan a {
	font-size: 18px;
	color: #194c7f;
	font-weight: bold;
}
.ultnotTituloSpan {
	float: left;
	width: 200px;
	margin-top: 2px;
}
.ultnotMaisNoticias {
	float: right;
	margin-right: 30px;
	background-color: #eee;
}
.ultnotMaisNoticias a{
	color: #194c7f;
	display: block;
	padding: 5px 10px;
	font-size: 12px;
}
.ultnotMaisNoticias:hover {
	background-color: #ccc;
}
.ultnotMaisNoticias a:hover {
	color:#cb2026;
	text-decoration: none;
}
.ultNot ul {
	float: left;
}
.ultNot li {
	padding: 5px 0;
	border-bottom: 1px solid #ddd;
}
.ultNot li a {
	color: #cb2026;
	font-size: 12px;
	padding: 5px 10px;
	display: block;
}
.chamadaFoto {
	float: left;
	padding: 15px 10px;
}
.contentRight {
	float: right;
	width: 300px;

}
footer {
	width: 100%;
	margin-top: 20px;
	border-top: 1px solid #000;
}
.footerTitle {
	background: #c2232a; /* Old browsers */
	background: -moz-linear-gradient(top,  #c2232a 1%, #a00e12 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#c2232a), color-stop(100%,#a00e12)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c2232a 1%,#a00e12 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c2232a 1%,#a00e12 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c2232a 1%,#a00e12 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c2232a 1%,#a00e12 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2232a', endColorstr='#a00e12',GradientType=0 ); /* IE6-9 */
	padding: 5px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}
.footerItemsTop {
	text-align: center;
}
.footerItemsTop a {
	margin: 10px;
	color: #747474;
	font-size: 11px;
	font-weight: normal;
}
.footerMenu {
	width: 900px;
	overflow: hidden;
	margin: auto;
}
.footerMenu ul {
	float: left;
	margin: 10px 30px;
}
.footerMenu li {
	border-bottom: 1px solid #ccc;
	padding: 5px;
}
.footerMenu a {
	color: #747474;
}
.footerMenu li.footerMenuTitle {
	color: #cb2026;
}
.copyright {
	width: 900px;
	margin: auto;
}






































