ul, li, h1,h2,h3,h4,h5,p {
	list-style: none;
	margin: 0;
	padding: 0;
}

.header {
	width: 100%;
	height: 150px;
	border: green;
	padding: 0 150px;
}
.menu.affix {
	top: 0;
}
.content {
	margin: 0 150px;
	overflow: hidden;
	height: 2000px;
}
.columnLeft {
	display: none;
}
.columnMiddle {
	float: left;
	width: 600px;
}
.columnRight {
	float: left;
	position: relative;
}
.bannerBigHome {
	float: left;
	width: 844px;
	height: 206px;
}
.contentMiddle {
	float: left;
	width: 600px;
}
.carrosselHome {
	float: left;
	width: 530px;
	height: 280px;
}
.chamadaH1 {
	float: left;
	width: 260px;
	height: 250px;
	padding: 10px 0;
	margin: 0 10px 0 0;
	border-top: 1px dotted #000;
}
.chamadah1  {

}
.chamadaH2 {
	float: left;
	width: 250px;
	height: 100px;
	padding: 10px 10px 10px 0;
	border-top: 1px solid #000;
}
.chamadaH2 img, .chamadaH2 h3, .chamadaH2 h4 {
	float: left;
}
.ultNot {
	float: left;
	width: 400px;
}
.chamadaFoto {
	float: left;
}














































