ul, li, h1,h2,h3,h4,h5,p {
	list-style: none;
	margin: 0;
	padding: 0;
}
#uolBar {
	height: 30px;
	background-color: #0ac;
}
header {
	width: 990px;
	margin: auto;
	overflow: hidden;
}
.menu {
	margin-bottom: 10px ;
	z-index: 98;
	background: url("../imgs/car-menu.jpg") no-repeat;
	text-indent: -999em;
}
.menu.affix, .menu.affix-top {
	top: 0;
	background-color: #fff;
	height: 50px;
	width: 990px;
	z-index: 99;
}
.menu.affix-top .active > a {
	background-color: transparent;
}
.menu.affix .active > a {
	width: 80px;
}
.logoBanner {
	overflow: hidden;
	margin-bottom: 10px;
}
.logoBanner .logo {
	float: left;
	width: 100px;
}
.logoBanner .bannerHome {
	float: left;
	overflow: hidden;
	width: 690px;
	position: relative;
}
.bannerHome .publicidade {
	color: #ccc;
	transform: rotate(-90deg);
	-ms-transform:rotate(-90deg); /* IE 9 */
	-moz-transform: rotate(-90.0deg);  /* FF3.5+ */
	-o-transform: rotate(-90.0deg);  /* Opera 10.5 */
	-webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
	left: -30px;
	top: 40px;
	position: absolute;
}
.bannerHomeImg {
	background-color: #ccc;
	width: 728px;
	height: 100px;
	margin-left: 20px;
}
.socialBar {
	height: 30px;
	border:1px dotted;
	margin-bottom: 10px;
	background-image: url("../imgs/car-social.jpg");
}
.content {
	margin: auto;
	width: 990px;
	overflow: hidden;
	height: 2000px;
}
.columnLeft {
	display: none;
}
.columnMiddle {
	float: left;
	width: 600px;
}
.columnRight {
	float: left;
	position: relative;
}
.bannerBigHome {
	float: left;
	width: 844px;
	height: 206px;
	margin-bottom: 10px;
}
.contentMiddle {
	float: left;
	width: 600px;
}
.carrosselHome {
	float: left;
	width: 830px;
	height: 280px;
	border:1px solid #ccc;
	margin-bottom: 10px;
}
.chamadaH1 {
	float: left;
	width: 260px;
	height: 250px;
	padding: 10px 0;
	margin: 0 10px 0 0;
	border-top: 1px dotted #ccc;
	overflow: hidden;
}
.chamadaH1 h3 {
	color: #194c7f;
	padding: 5px 0 0;
	margin: 0;
	font-size: 18px;
	font-weight: bold;
}
.chamadaH1 h4 {
	color: #cb2026;
	padding: 5px 0 0;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
}
.chamadaH2 {
	float: left;
	width: 280px;
	height: 100px;
	padding: 10px 0 0;
	border-top: 1px dotted #ccc;
	overflow: hidden;
}
.chamadaH2 img{
	float: left;
	margin-right: 5px;
}
.chamadaH2 h3 {
	float: left;
	color: #cb2026;
	font-size: 14px;
	font-weight: bold;
	width: 130px;
}
.chamadaH2 h4 {
	float: left;
	color: #194c7f;
	font-size: 16px;
	font-weight: bold;
	width: 130px;
}
.ultNot {
	float: left;
	width: 400px;
	border-top: 1px dotted #ccc;
	padding-top: 10px;
}
.ultnotTituloSpan {
	float: left;
	width: 200px;
}
.ultnotMaisNoticias {
	float: left;
	width: 150px;
}
.ultNot ul {
	float: left;
}
.ultNot li {
	padding: 5px 0;
	border-bottom: 1px solid #ddd;
}
.chamadaFoto {
	float: left;
	padding: 15px 10px;
}














































